<a href="https://colab.research.google.com/github/NguyenDa18/Police-Data-Initiative-Officer-Involved-Shootings-Analysis/blob/master/Seattle_Police_Shootings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
police_shooting_datasets = {
    'Seattle_WA': 'https://data.seattle.gov/api/views/mg5r-efcm/rows.csv?accessType=DOWNLOAD'
}

In [0]:
df = pd.read_csv(police_shooting_datasets['Seattle_WA'], parse_dates=['Date'])

In [5]:
df.columns

Index(['FRB #', 'GO', 'Date', 'Time', 'Blurred Address', 'Longitude',
       'Latitude', 'City', 'State', 'Rank', 'Officer Gender', 'Officer Race',
       'Years of SPD Service', 'Officer Injured', 'Number of Rounds',
       'Subject Gender', 'Subject Race', 'Subject DOB', 'Subject Age',
       'Subject Weapon', 'Type of Weapon', 'Fatal', 'On-duty', 'Justified',
       'Within Policy', 'Justified Policy', 'Officer Disciplined?', 'Summary'],
      dtype='object')

In [7]:
h = df[['Date', 'Officer Race', 'Subject Gender', 'Subject Race', 'Subject Weapon', 'Justified Policy', 'Officer Disciplined?']]
h.sort_values(by='Date')

          Date Officer Race  ... Justified Policy Officer Disciplined?
0   2005-03-21        White  ...          Missing              Missing
1   2005-04-29        White  ...        Justified                   No
2   2005-06-20        White  ...        Justified                   No
3   2005-06-20        White  ...        Justified                   No
4   2005-07-08        White  ...        Justified                   No
..         ...          ...  ...              ...                  ...
90  2016-02-21        White  ...    Within Policy                   No
113 2016-02-21        White  ...   Within Policy                    No
105 2016-02-21        White  ...   Within Policy                    No
89  2016-02-21        White  ...    Within Policy                   No
100 2016-06-19        White  ...    Within Policy                   No

[120 rows x 7 columns]

In [8]:
df['Subject Race'].value_counts()

White                        60
Black                        43
Asian                         7
Native American               4
Black or African American     3
Black                         1
\nBlack                       1
Hispanic                      1
Name: Subject Race, dtype: int64

In [10]:
df['Officer Race'].value_counts()

White                            95
AI/AN                             7
Black                             4
Hispanic/Latino                   4
Asian/Pacific Islander            4
Multi-Racial                      2
Hispanic or Latino                2
Nat Hawaiian/Oth Pac Islander     1
American Indian/Alaska Native     1
Name: Officer Race, dtype: int64